@charset "utf-8";

/* reset by medic */
* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style: none;}
.hidden {display: none;}
.clr:after {display:none; position:relative; content:' '; color:transparent; font-size:0; line-height:0; clear:both;}

body {background: #fff;}

/* wrapper */
.wrapper {max-width: 1200px; margin: 0 auto;}
.wrapper h1 a {text-decoration: none; color: #98FB98;}
.wrapper h1 a:hover {text-decoration: underline;}
.wrapper h1 a:active {color: blue;}

/* comics_wrapper */
.comics_item {margin-top: 20px;}
.comics_item:nth-child(even) {background-color: #98FB98;}
.comics_desc_wrapper {overflow: hidden;}
.comics_desc_wrapper .comics_img {display: block; position: relative; float: left; width: 150px;}
.comics_desc_wrapper .comics_img img {margin: 0 20px;}
.comics_desc_wrapper .comics_desc {display: block; position: relative; float: left; width: 1050px;}

/* comics_page */
.comics_page {margin: 20px 0;}
.comics_page_wrapper {overflow: hidden;}
.comics_page_wrapper .comics_img {display: block; position: relative; float: left; width: 300px;}
.comics_page_wrapper .comics_img img {margin: 0 20px;}
.comics_page_wrapper .comics_desc {display: block; position: relative; float: left; width: 900px;}

/* pubs_page */
.pubs_page {margin: 20px 0;}
.pubs_page_wrapper {overflow: hidden;}
.pubs_page_wrapper .pub_img {display: block; position: relative; float: left; width: 300px;}
.pubs_page_wrapper .pub_img img {margin: 0 10px; min-height: 100px; max-height: 250px; max-width: 280px;}
.pubs_page_wrapper .pubs_desc {display: block; position: relative; float: left; width: 900px;}
